.img-list
    overflow-y: hidden
    overflow-x: scroll
    display: flex
    .item
        flex: 0 0 auto
        max-width: 200px
        margin-right 6px
        .img
            background-size: cover
            background-repeat: no-repeat
            background-position: top center
