.img-list
    overflow-y: hidden
    overflow-x: scroll
    display: flex
    .item
        flex: 0 0 auto
        background-size: cover
        background-repeat: no-repeat
        background-position: top center
        max-width: 200px
        height: 0
        margin-right 6px
