.item
    padding: 1.667rem 2.4rem
    border-bottom: 1px solid hsla(240,2%,90%,.5)
    .item-header
        display: flex
        justify-content: space-between
        color: #b2bac2
        font-size: 1.25rem
    .item-body
        margin-top 0.833rem
        display: flex
        .tag-icon
            width: 3.75rem
            height 3.75rem
            border-radius: 2px
            margin-right 1.667rem
            background-repeat: no-repeat
            background-size: cover
        .tag-title
            color: #2e3135
            font-size: 1.333rem
            font-weight: bold
            align-self: center
        .user-icon
            flex: 0 0 3.75rem
            height: 3.75rem
            border-radius: 50%
            margin-right 1.667rem
            background-repeat: no-repeat
            background-size: cover
            background-color: #b9c0c8
        .info
            overflow hidden
            flex: 1
            .pos
                flex: 1
                overflow hidden
                white-space nowrap
                text-overflow: ellipsis
                color: #b9c0c8
                font-size: 1rem
                margin-top .6rem
            .name
                font-size: 1.333rem
                font-weight: bold
                color: #2e3135
                line-height: 1.4
    .post-wrapper
        background-color: #fdfdfd
        border: 1px solid #f2f2f2
        border-radius: 2px
        padding: 1.25rem
        .post-title
            color: #2e3135
            font-size: 1.333rem
            overflow hidden
            white-space nowrap
            text-overflow: ellipsis
            font-weight: bold
            line-height: 1.2

