.input-wrapper
    margin: 1.25rem 1rem
    padding: 1rem 1.333rem
    border-radius: 3px
    background-color: #fafbfc
    .comment-input
        width: 100%
        padding: .6rem 1rem
        font-size: 1.083rem
        outline: none
        box-sizing: border-box
        color: #8a9aa9
        border 1px solid #f1f1f1
        border-radius: 3px
