.user-pannel-wrapper
    padding: 2.5rem
    display: flex
    justify-content: center
    text-align: center
    background-color: #ffffff
    .avatar
        width: 7.5rem
        border-radius: 50%
        background-color: #f9f9f9
    .info-box
        margin: 1rem 0
        .name
            font-size: 2.167rem
            line-height: 1.2
            color: #000000
            font-weight: bold
            text-align: left
        .pos
            line-height: 1.5
            font-size: 1.25rem
            color: #72777b
