.tag-list
    background-color: #ffffff
    .item
        display: flex
        align-items: center
        padding: 0 2.4rem
        height: 7.5rem
        border-bottom: 1px solid hsla(240,2%,90%,.5)
        .icon
            width: 3.75rem
            height 3.75rem
            border-radius: 2px
            margin-right 1.667rem
            background-repeat: no-repeat
            background-size: cover
        .title
            flex: 1
            color: #2e3135
            font-size: 1.333rem
            font-weight: bold
            align-self: center
        .follow-btn
            display: flex
            align-items: center
            justify-content: center
            margin-left: 1rem
            width: 7.5rem
            height: 2.5rem
            font-size: 1rem
            color: #92c452
            background-color: #fff
            border: 1px solid #92c452
            border-radius: 2px
            cursor pointer
            &.active
                color: #ffffff
                background-color: #92c452
