{
    "presets": [
        ["env", {
            "modules": false
        }],
        "stage-1",
        "react"
    ],
    "plugins": [
        "react-loadable/babel",
        "transform-decorators-legacy",
        "react-hot-loader/babel"
    ],
    "env": {
        "development": {
            "plugins": [
                ["react-css-modules", {
                    "generateScopedName": "[path]_[name]_[local]_[hash:base64:5]",
                    "filetypes": {
                        ".styl": {
                            "syntax": "sugarss"
                        }
                    },
                    "handleMissingStyleName": "warn"
                }]
            ]
        },
        "production": {
            "plugins": [
                ["react-css-modules", {
                    "generateScopedName": "[local]_[hash:base64:5]",
                    "filetypes": {
                        ".styl": {
                            "syntax": "sugarss"
                        }
                    }
                }]
            ]
        }
    }
}
