.error-wrapper
    background-color: #ffffff
    padding: 3rem 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .error-title
        color: #333333
        media(1.6rem)
    .error-link
        display: flex
        align-items: center
        justify-content: center
        width: 7.5rem
        height: 2.5rem
        font-size: 1rem
        color: #027fff
        background-color: #fff
        border: 1px solid #027fff
        border-radius: 2px
        cursor pointer
        margin-top 3rem
