.empty-content
    background-color: #ffffff
    display: flex
    flex-direction: column
    align-items: center
    padding: 4rem 0
    .content-icon
        font-size: 70px
        color: #cdd2d6
    .tip
        color: #b2bac2
        margin-top 1.2rem
        font-size: 1.167rem
