.sub-header
    padding: 0 2.4rem
    height: 4.167rem
    display: flex
    align-items: center
    border-bottom: 1px solid hsla(240,2%,90%,.5)
    background-color: #ffffff
    .title
        color: #000000
        font-size: 1.25rem
        font-weight: bold
