<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="manifest" href="/manifest.json">
    <%%- meta %>
    <%%- title %>
    <%%- link %>
    <%%- style %>
</head>
<body>
    <div id="root"><%%- appString %></div>
    <script>
        window.__INITIAL_STATE__ = <%%- initalState %>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
    <%- htmlWebpackPlugin.options.dll || '' %>
    <%%- script %>
</body>
</html>
