.header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1.5rem 2rem
    border-bottom: 1px solid $color-border
    .title
        font-size: 16px
        color: $color-black
    .more
        color: $color-black
        font-size: 12px
.category
    padding: 1.3rem 1rem
    border-bottom: 1px solid $color-border
    .item + .item
        border-left: 1px solid hsla(0,0%,59%,.2)
    .item
        color: #909090
        font-size: 1.16rem
        padding: 0 1.2rem
        &.active
            color: #007fff

:global
    .home-init-class
        top: 60px!important
    .home-translate-class
        transform: translateY(-60px)!important
