@import '../../assets/styles/variable.styl'

.category
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1.5rem 2rem
    border-bottom: 1px solid $color-border
    .title
        font-size: 16px
        color: $color-black
    .more
        color: $color-black
        font-size: 12px
