.header
    display: flex
    justify-content: space-between
    align-items: center
    padding: .8rem 2.333rem
    line-height: 1.5
    border-bottom: 1px solid #f1f1f1
    .title
        color: #2e3135
        font-size: 1.5rem
        font-weight: bold
    .btn
        color: #007fff
        font-size: 1.167rem
        .setting
            margin-right 3px
            position relative
            top 1px
