@import 'https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css'

.post-wrapper
    padding: 0 2rem
    &:after
        content: ''
        display: table
    .user
        display: flex
        padding-top: 2rem
        .avatar
            width: 3.33rem
            height: 3.33rem
            background-size: cover
            background-repeat: no-repeat
            background-position: center
            margin-right: 1rem
            border-radius: 50%
        .username
            font-size: 1.3rem
            color: #333333
            font-weight: bold
            line-height: normal
        .info
            font-size: 1.1rem
            color: #909090
            margin-top 5px
    .title
        color: #333333
        font-weight: bold
        media(2rem, 0.5)
        padding: .67em 0
        line-height: 1.5
        word-break: break-all
    .markdown
        word-break: break-all
        img
            max-width 100%
    .comment-wrapper
        padding-top: 1.67rem
        .title
            font-size: 16px
            color: #8a9aa9
            text-align: center
        .load-more
            text-align: center
            padding: 1.1rem 0
            font-size 1.083rem
            color: #406599
            cursor pointer

.recommend-wrapper
    background-color: #ffffff
    .recommend-title
        color: #333333
        padding: 1.3rem 2rem
        font-size: 1.25rem
        color: #909090
        border-bottom: 1px solid rgba(178,186,194,.15)
        font-weight: bold

.action-wrapper
    height: 3.92rem
    .action-content
        height: 3.92rem
        background-color: #ffffff
        border-top: 1px solid #ebebeb
        border-bottom: 1px solid #ebebeb
        display: flex
        position: fixed
        max-width $max-width
        width: 100%
        box-sizing: border-box
        bottom: 0
        z-index: 99
        .action-item + .action-item
            &:before
                content: ''
                border-left: 1px solid #ebebeb
                height 50%
                position: absolute
                left 0
                top: 25%
        .action-item
            flex: 1
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            position relative
            cursor pointer
            color: #8a93a0
            &.active
                color: #6cbd45
            .text
                font-size: 13px
                margin-left .3rem
            .praise-icon, .comment-icon, .collect-icon
                font-size: 18px
            .comment-icon
                font-size: 20px
                transform: scaleX(-1)
                position relative
                top 1px



