.entry-list-wrapper
    background-color: $color-background
    .item
        padding: 0 2rem
        border-bottom: 1px solid $color-border
        box-sizing: border-box
        display: flex
        flex-direction: column
        justify-content: center
        .info-wrapper
            font-size: 1rem
            color: $color-text
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
            .hot
                color: $color-hot
            .post
                color: $color-purple
            .left-circle
                &:before
                    content: '·'
                    margin: 0 3px
                    color: #b2bac2
            .right-circle
                &:after
                    content: '·'
                    margin: 0 3px
                    color: #b2bac2
        .title-wrapper
            margin 0.6rem 0 0.9rem 0
            white-space nowrap
            text-overflow ellipsis
            overflow hidden
            .title
                media(1.2rem)
                color: #2e3135
                font-weight: bold
                line-height: normal
                &:visited
                    color: #909090
        .action-wrapper
            display: inline-flex
            .action-item
                border: 1px solid #edeeef
                padding: 0 .8rem
                height: 1.5rem
                display: flex
                align-items: center
                font-size: 1rem
                color: $color-text
                &.active
                    color: #6cbd45
                .text
                    font-weight: bold
                    margin-left: 3px
                    color: $color-text
                .approve, .comment, .share
                    font-size: 1.2rem
                    color: $color-text
                .collect
                    font-size: 1.2rem
                    position relative
                    top -1px
        .action-wrapper + .action-wrapper
            margin-left 10px
