$color-background = #fff
$color-background-c = #fafbfc
$color-blue = #007fff
$color-text = #b2bac2
$color-border = #f1f1f1
$color-black = #333
$color-hot = red
$color-purple = #b71ed7

$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px

$max-width = 640px
